body{
    background-color: rgb(67, 67, 117);
    color: yellow;
}
.homework-task-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
    height: 200px;
    width: 300px;
   
    
}


.buttonclick{
    display: block;
    margin: 0 auto; 
}

